<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::styles}, ~{::main}, ~{::scripts})}">
  <head>
    <title>DCO Hub - Guides</title>

    <th:block th:fragment="styles"></th:block>
  </head>
  <body>
    <main>
      <header>
        <h1>Guides</h1>
      </header>
      <a class="btn" href="/guides/new">Create Guide</a>
    </main>  
    
    <th:block th:fragment="scripts">
      <script type="text/javascript" th:src="@{/scripts/guides.js}"></script>
    </th:block>
  </body>
</html>