<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="layout(title, content)">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:replace="${title}"></title>

  <link rel="stylesheet" th:href="@{/styles/layout.css}" />
</head>
<body>
  <nav class="layout-nav">
    <a href="/">DCO Hub</a>
  </nav>
  
  <main th:replace="${content}"></main>
  
  <footer class="layout-nav">2025 DCO Hub</footer>
</body>
</html>