<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::styles}, ~{::main}, ~{::scripts})}">
  <head>
    <title>DCO Hub - New Guide</title>

    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/styles/newGuide.css}" />
    </th:block>
  </head>
  <body>
    <main>
      <header>
        <h1>New Guide</h1>
      </header>
      
      <a href="/guides">← Back</a>
      
      <form class="new-guide-form" id="new-guide-form">
        <div>
          <label for="author">Author</label>
          <input required type="text" name="author" id="author" placeholder="Author" />
        </div>

        <div>
          <label for="title">Title</label>
          <input required type="text" name="title" id="title" placeholder="Title" />
        </div>

        <div id="toolbar-container">
        </div>

        <div id="editor-container"></div>

        <button type="submit">Create</button>
      </form>

    </main>  
    
    <th:block th:fragment="scripts">
      <script type="text/javascript" th:src="@{/dist/main.js}"></script>
      <script type="module" th:src="@{/scripts/newGuide.js}"></script>
    </th:block>
  </body>
</html>