<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout(~{::title}, ~{::main}, ~{::scripts})}">
<head>
  <title>DCO Hub - New Guide</title>
</head>
<body>
  <main>
    <h1>New Guide</h1>
    
    <form>
      <label for="author">Author</label>
      <input type="text" name="author" id="author" />

      <label for="title">Title</label>
      <input type="text" name="title" id="title" />

      <label for="content">Content</label>  
      <textarea name="content" id="textarea"></textarea>
    </form>
  </main>  
  
  <th:block th:fragment="scripts">
    <script type="text/javascript" th:src="@{/scripts/newGuide.js}"></script>
  </th:block>
</body>
</html>