<!DOCTYPE html>
<html
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{layout :: layout(~{::title}, ~{::styles}, ~{::main}, ~{::scripts})}"
>
  <head>
    <title>DCO Hub - Guides</title>

    <th:block th:fragment="styles">
      <link rel="stylesheet" th:href="@{/styles/singleGuide.css}" />
    </th:block>
  </head>
  <body>
    <main>
      <header>
        <h1>Single Guide</h1>
      </header>

      <div id="content"></div>
    </main>

    <th:block th:fragment="scripts">
      <script th:inline="javascript">
        const GUIDE_ID = /*[[${guideId}]]*/ null
      </script>
      <script type="module" th:src="@{/scripts/singleGuide.js}"></script>
    </th:block>
  </body>
</html>
