@import './vars.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Mozilla-Regular';
  src: url("../fonts/MozillaHeadline-Regular.ttf");
}

body {
  font-family: 'Poppins-Regular', Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
}

path {
  transition: fill var(--default-transition), opacity var(--default-transition);
}

.nav-link {
  display: block;
  color: var(--muted-text-color);
  text-decoration: none;
  transition: color var(--default-transition), opacity var(--default-transition);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-link:hover {
  color: var(--accent-color);
}

.nav-link:hover path {
  fill: var(--accent-color);
}

.nav-link.active {
  opacity: 0.8;
  color: var(--accent-color);
}

.nav-link.active path {
  fill: var(--accent-color);
}

h1,
h2,
h3 {
  font-family: 'Mozilla-Regular', Helvetica, Arial, sans-serif;
}

button,
a,
input {
  font-size: 1.1em;
}

h1 {
  font-size: 2em;
  margin-bottom: 0.5rem;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 0.5rem;
}

label {
  position: absolute;
  left: -999999px;
}

.btn,
button {
  cursor: pointer;
  display: block;
  border: none;
  text-decoration: none;
  background: var(--accent-color);
  color: var(--bg-color);
  width: fit-content;
  padding: 0.25rem 0.5rem;
  border-radius: 10px;
  transition: opacity var(--default-transition);
}

.btn:hover,
button:hover {
  opacity: 0.8;
}

input,
textarea {
  padding: 0.75rem 1rem;
  border-radius: var(--default-border-radius);
  outline: none;
  border: var(--border-width) solid var(--overlay-bg-color);
  background: var(--text-color);
  color: var(--bg-color);
  transition: border var(--default-transition), color var(--default-transition);
}

input:focus,
textarea:focus {
  border-color: var(--accent-color);
}