@import './vars.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Mozilla-Regular';
  src: url("../fonts/MozillaHeadline-Regular.ttf");
}

body {
  font-family: 'Poppins-Regular', Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--bg-color);
  color: var(--text-color);
}

.nav-link {
  display: block;
}

h1,
h2,
h3 {
  font-family: 'Mozilla-Regular', Helvetica, Arial, sans-serif;
}