@import './vars.css';

.layout-nav {
  height: 100vh;
  width: var(--nav-width);
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  padding: 0.5rem;
  border-right: var(--border-width) solid var(--muted-text-color);
}

main,
footer {
  padding: 1rem;
  padding-left: calc(var(--nav-width) + 1rem);
}