@import './vars.css';

.new-guide-form {
  margin-top: var(--default-spacing);
  width: 100%;
}

.new-guide-form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

.new-guide-form div:last-of-type {
  margin-bottom: var(--default-spacing);
}

#editor-container {
  background: var(--text-color);
  color: var(--bg-color);
  width: 100%;
  border-radius: var(--default-border-radius);
  padding: var(--default-spacing);
}