:root {
  --bg-color: #171c1b;
  --text-color: #F6F7EB;
  --muted-text-color: #989898;
  --overlay-bg-color: #262424;
  --accent-color: #2175d9;
  --danger-color: #c13642;
  --border-width: 0.75px;
  --nav-width: 200px;
  --nav-height: 60px;
  --default-transition: 0.1s ease-in-out;
}